table {
    border: 1px solid black;
    width: 100%;
}

td {
    border: 1px solid black;
}
.obxTestId{
    width: 10%;
}

.obxTestName {
    width: 30%;
}

.obxTestUnits {
    width: 10%;
}

.obxTestResults {
    width: 30%;
}

.obxTestStatus {
    width: 5%;
}

.bs-example.PID:after {
    content: "Patient Information"
}

.bs-example.MSH:after {
    content: "Message Header"
}

.bs-example.PV1:after {
    content: "Visit Information"
}

.bs-example.NK1:after {
    content: "Next Of Kin"
}

.bs-example.IN1:after {
    content: "Insurance Info"
}

.bs-example.IN2:after {
    content: "Additional Insurance Info"
}

.bs-example.AL1:after {
    content: "Allergy Information"
}

.bs-example.ORC:after {
    content: "Order Common Information"
}

.bs-example.OBR:after {
    content: "Order Observation Request Information"
}

.bs-example.DG1:after {
    content: "Diagnosis Information"
}

.bs-example.OBX:after {
    content: "OBX Values"
}

.bs-example.ZDR:after {
    content: "Distribution Providers"
}

.bs-example.NTE:after {
    content: "Notes"
}