@model HL7Parser.Models.HL7Message

@{
    ViewBag.Title = "Parsed Message";
}

<h2>Details</h2>

<div>
    <h4>HL7Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
