@{
    ViewBag.Title = "About Online HL7 Message Parser";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>HL7 Message Parser is a free online tool which can take HL7 v2 messages and display in a more legible manner..</p>
