@{
    ViewBag.Title = "Online HL7 Message Parser";
}

<div class="jumbotron">
    <h1>HL7 Message Parser</h1>
    <p class="lead">HL7 Message Parser is a free online tool that lets you parse your HL7 v2 message and display it in a more readable format.</p>
    <p>Get started by choosing to @Html.ActionLink("Parse an HL7 Message", "Create", "Parse") to see what comes of it.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Parse an HL7 Message</h2>
        <p>
            Just @Html.ActionLink("enter an HL7 message", "Create", "Parse") into the parser form and you will be given a parsed, readable output of the message.
        </p>
        <p>@Html.ActionLink("Parse HL7!", "Create", "Parse", null, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Get Samples</h2>
        <p>Don't have an HL7 message to parse, but want to try it out?</p>
        <p>@Html.ActionLink("Get HL7 Message Samples!", "Samples", "Parse", null, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Resources</h2>
        <p>Some handy HL7 resources to help you along the way. Because everyone knows, knowledge is power.</p>
        <p><a class="btn btn-default" href="#">Resourcify!</a></p>
    </div>
</div>